.header {
	border: 5px red solid;
}
.header > .description {
	border: 5px orange solid;
}
.block {
	border: 5px blue solid;
	background: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
}
.block .date {
	border: 5px purple solid;
}

body {
	background: url(images/bg.jpg);

}
.container {
	border: 5px green solid;
	margin: 0 10%;
	background: white;
}