.header {
	text-align: right;
	background-color: #A8F0F0;
}
.header > .description {
	font-size: 14pt;
}
.block {
	border: 3px #C2E9E9 solid;
	background: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	overflow: hidden;
	width:75%;
	float: right;
	box-sizing: border-box;
}
.block img {
	float: right;
}

.block .date {
	border-bottom: 2px blue dashed;
}

body {
	background: url(images/bg.jpg);

}
.container {
	border: 10px white solid;
	margin: 0 10%;
	background: white;
	overflow: hidden;
}
.left {
	background-color: #E8FBFB;
	border: 5px #D8EBEB solid;
	float: left;
	width:24%;
	box-sizing: border-box;
	margin-top: 10px;
}